*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(63, 62, 62);
}

:root{
    --main-color:green;
    --main-transition: .4s ease-in-out;
}
/* steart heder */

 .iconse{
    position: fixed;
    z-index: 2000;
    top: 20px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-color);
    width: 30px;
    height: 30px;
    visibility: hidden;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--main-transition);
    z-index: 1;
}
@media(max-width:567px){
    .iconse{
        visibility: visible;
    }
}
@media(max-width:767px){
        .iconse{
        visibility: visible;
    }
}
@media(max-width:991px){
      .iconse{
        visibility: visible;
    }
}
.colora {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 3000;
    transform: translateX(-1500px);
    transition: var(--main-transition);
    opacity: 0.5;
}
.colora.add{
opacity: 1;
transform: translateX(0);
}
.ex{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.lista{
    background-color:var(--main-color);
    width:200px;
    height: 100%;
}
.lista2{
    position: fixed;
    background-color:var(--main-color);
    top: 0;
    left: 0;
    width:200px;
    height: 100%;
}
@media(max-width:567px){
    .lista2{
        visibility: hidden;
    }
}
@media(max-width:767px){
    .lista2{
        visibility: hidden;
    }
}
@media(max-width:991px){
    .lista2{
        visibility: hidden;
    }
}
.titel{
    display: flex;
    padding: 30px 10px;
}
.icon-link{
    display: flex;
    margin: 20px;
}
.icon-link i{
display: block;
color: rgba(255, 255, 0, 0.582);
margin-right: 5px;
}
.icon-link a{
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.678);
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    transition: var(--main-transition);
    user-select: none;
}
.icon-link a:hover{
    padding-left: 5px;
    color: rgba(255, 255, 0, 0.582);
}
.titel h3{
    color: rgba(255, 255, 255, 0.678);
    text-transform: capitalize;
    font-weight: normal;
}
.icon-btton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 50px 0 15px 0;
}
.lin-butto {
    width: 160px;
    margin: auto;
    text-align: center;
}

.lin-butto p{
  font-size: 12px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.623);
}
.lin-butto span{
    color: rgba(255, 255, 0, 0.527);
}
.icon-btton i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    transition: var(--main-transition);
}
.icon-btton i:hover{
    color: white;
    background-color: black;
}
.titel i{
    display: block;
    color: yellow;
    font-size: 20px;
    margin-right: 10px;
}
.heder .iconse:hover{
    opacity: 0.5;
}
.heder .iconse span{
    background-color: white;
    height: 2px;
    width: 100%;
    display: block;
}
.heder img{
    width: 100%;
    height: 100vh;
    display: block;
}

.heder .title{
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 1;
}
.heder .title input{
    background: none;
    border: none;
    color: white;
    text-transform: capitalize;
    padding: 10px 20px;
    background-color: green;
    transition: var(--main-transition);
    cursor: pointer;
}
.heder .title input:hover{
    opacity: .5;
    background-color: black;
}
.heder .title > span{
    color: var(--main-color);
    display: block;
    line-height: 2;
}
.heder .title p{
 width: 280px;
 margin-top: 12px;
 line-height: 1.7;
 color: gray;
 font-size: 12px;
}
.heder .title h2{
  width: 300px;
  color: rgba(255, 255, 255, 0.616);
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.2;

}
.heder .title h2 span{
    color: var(--main-color);
}
.heder .over{
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.829);
}
 /* end heder */
 /* start cobt */
.container{
width: 60%;
margin: 40px auto;
}
@media(max-width:567px){
    .container{
        width: 90%;
    }
}
@media(max-width:767px){
    .container{
        width: 90%;
    }
}
@media(max-width:567px){
    .container{
        width: 90%;
    }
}
@media(max-width:991px){
    .container{
        width: 90%;
    }
}
.rwoe{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 10px;
}

.ib1{
    background-color: white;
    box-shadow: 0 0 5px black;
    position: relative;
    text-align: center;
    padding: 20px;
}
.ib1 span{
    display: block;
    font-size: 12px;
}
.ib1 .cont  {
  font-size: 20px;
  color: green;
}
.ib1 i{
    position: absolute;
    top: 50%;
    left: 20%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    transform: translate(-50%,-50%);
}
 /* end cont */

 /* start categoit */
 #category{
     width: fit-content;
     margin: 50px auto 20px auto;
     text-align: center;
 }
 #category span{
     color: green;
 }
 #category h2{
     text-transform: uppercase;
     font-weight: normal;
 }
 @media(max-width:567px){
    #category h2{
      font-size: 14px;
    }
 }
 .rwoqw3{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap: 10px;
 }
 .padeit {
     text-align: center;
     box-shadow: 0 0 2px black;
     background-color: white;
     padding: 10px;
     position: relative;
 }
 .padeit::after{
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     width: 3px;
     height: 0;
     background-color: var(--main-color);
     transition: var(--main-transition);
 }

 .padeit::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 3px;
    height: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.padeit:hover::after{
    height: 100%;
}
 .padeit:hover::before{
    height: 100%;
 }
 .padeit i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-color: green;
  color: white;
  font-size: 20px;
  border-radius: 50%;
 }
 .padeit span{
   display: block;
   text-transform: capitalize;
   line-height: 2;
 }
 .padeit p{
     font-size: 14px;
     color: gray;
     line-height: 1.5;
 }
 /* end categorit */
 /* start abuot */
 .rwo-abu{
     display: flex;
     justify-content: center;
     gap: 30px;
 }
 @media(max-width:567px){
    .rwo-abu{
      flex-direction: column;
      gap: 10px;
    }
 }
 @media(max-width:767px){
    .rwo-abu{
      flex-direction: column;
      gap: 10px;
    }
 }
 @media(max-width:991px){
    .rwo-abu{
      flex-direction: column;
      gap: 10px;
    }
 }
 .images{
     flex: 1;
 }
 .images img{
   width: 100%;
   height: 100%;
   display: block;
   box-shadow: 10px 0 5px rgba(0, 0, 0, 0.555);
 }
 #about{
     flex: 1;
     margin: 20px 0;
 }
 @media(max-width:567px){
    #about{
        margin: 10px auto;
    }
 }
  @media(max-width:767px){
    #about{
        margin: 10px auto;
    }
 }
 #about span{
     display: block;
     color: var(--main-color);
     text-transform: capitalize;
 }
 #about h3{
    font-weight: bold;
    text-transform: capitalize;
    line-height:1.5;
 }
 #about p{
   color: gray;
   line-height: 1.6;
 }
 #about input{
    color: white;
    text-transform: capitalize;
    border: none;
    background: none;
    background-color: var(--main-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    transition: var(--main-transition);
 }
 #about input:hover{
     background-color: black;
 }
 /* end abuot */
 /* start cuorses */
 #cuorse{
     width: fit-content;
     margin: 30px auto;
     text-align: center;
 }
 #cuorse span{
     display: block;
     color: var(--main-color);
 }
 #cuorse h3{
     text-transform: uppercase;
 }
 .rwo-courses{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
     gap: 10px;
 }
 .im img{
     width: 100%;
     height: 100%;
     display: block;
 }
 .im {
     position: relative;
     overflow: hidden;
 }
 .green{
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: var(--main-color);
     transform: translateX(-600px);
     transition: var(--main-transition);
 }
 .im:hover .green{
    transform: translateX(0);
 }
 .trnsi{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
 }
 .trnsi i{
     color: yellow;
     font-size: 10px;
 }
 .trnsi span{
  display: block;
  color: white;
  text-transform: capitalize;
  margin: 10px 0;
  font-size: 14px;
 }
 .trnsi input{
    display: block;
    margin: 5px auto;
    background:none;
    border: none;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px 20px;
    background-color:black;
    cursor: pointer;
    transition: var(--main-transition);
 }
 .trnsi input:hover{
     background-color: chocolate;
 }
 .trnsi p{
     font-size: 12px;
     color: gray;
     text-transform: capitalize;
     line-height: 1.5;
 }
 /* end cuorses */
 /* start praicing */
 #pricing{
     width: fit-content;
     margin: 20px auto;
     text-align: center;
 }
 #pricing span{
  color: var(--main-color);
 }
 #pricing h3{
     text-transform: uppercase;
 }
 .rwo-pric{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap: 10px;
 }
 .teame1 {
     background-color: white;
     box-shadow: 0 0 2px black;
 }
 .teame1 > span{
     display: block;
     width: fit-content;
     margin: 10px auto;
     text-transform: capitalize;
     font-weight: bold;
     font-size: 14px;
 }
 .teame1 input{
     width: fit-content;
     margin: 15px auto;
     display: block;
     border: none;
     background: none;
     color: white;
     text-transform: capitalize;
     padding: 10px 20px;
     cursor: pointer;
     background-color: var(--main-color);
     transition: var(--main-transition);
 }
 .teame1 input:hover{
     background-color: black;
 }
 .teame1 p{
     width: fit-content;
     margin: 10px auto;
     font-size: 30px;
     font-weight: normal
     ;
 }
 .teame1 img{
     display: block;
     width: 200px;
     height: 200px;
     margin: 10px auto;
 }

 .icon{
     display: flex;
     margin: 20px 0 10px 20px;
 }
 .icon span{
display: block;
font-size: 12px;
color: gray;
text-transform: capitalize;
margin-left: 10px;
 }
 .icon i{
     display: block;
 }
 .icon i{
     color: var(--main-color);
 }
 .icon .fa-times{
     color: red;
 }
 /* end pracing */
 /* starrt contact */
 #contact{
     width: fit-content;
     margin: 30px auto;
     text-align: center;
 }
 #contact span{
     color: var(--main-color);
     display: block;
 }
 #contact h3{
     text-transform: uppercase;
     font-weight: bold;
 }
 .rwi2{
     display: flex;
     gap: 10px;
 }
 @media(max-width:567px){
    .rwi2{
        flex-direction: column;
    }
 }
  @media(max-width:767px){
    .rwi2{
        flex-direction: column;
    }
 }
  @media(max-width:991px){
    .rwi2{
        flex-direction: column;
    }
 }
 .pone{
     flex: 1;
 }
 @media(max-width:567px){
    .pone{
        margin: auto;
    }
 }
  @media(max-width:767px){
    .pone{
        margin: auto;
    }
 }
   @media(max-width:991px){
    .pone{
        margin: auto;
    }
 }
 
 .ic1 {
     position: relative;
     margin: 10px;
 }
 .ic1 span{
   display: block;
   margin-bottom: 5px;
   color: rgb(228, 225, 225);
   font-size: 14px;
   text-transform: capitalize;
   letter-spacing: 1px;
 }
 .ic1 i{
     display: flex;
     position: absolute;
     width: 30px;
     height: 30px;
     background-color: var(--main-color);
     color: white;
     justify-content: center;
     align-items: center;
     top: 50%;
     left: -30px;
     transform: translate(-50%,-50%);
     border-radius: 50%;
     font-size: 10px;
 }
 .lok-ic{
     display: flex;
     gap: 5px;
     margin: 10px 0;
 }
 .lok-ic i{
     display:flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background-color: black;
     color: white;
     font-size: 14px;
     transition: var(--main-transition);
     cursor: pointer;
 }
 .lok-ic i:hover{
     background-color: var(--main-color);
 }
 .text-masge{
     flex: 2;
 }
 .input-text{
     display: flex;
     gap: 2px;
     margin-bottom: 5px;
 }
 .input-text input{
     display: block;
     width: 50%;
     padding: 10px;
     outline: none;
     background: none;
     background-color:white;
     border: none;
 }
 .btn{
     display: block;
     background: none;
     border: none;
     color: white;
     text-transform: capitalize;
     padding: 10px 20px;
     background-color: black;
     transition: var(--main-transition);
     cursor: pointer;
    }
    #text{
        outline: none;

    }
    .btn:hover{
        background-color: var(--main-color);
    }
 /* end contact */
 /* start reviews */
 #reviews{
     width: fit-content;
     margin: 50px auto 10px auto;
     text-align: center;
 }
 #reviews span{
    color: var(--main-color);
    display: block;
 }
 #reviews h3{
     text-transform: uppercase;
     font-weight: bold;
 }
 .rwoy3{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap: 10px;
 }
 .bart img{
     width: 80px;
     height: 80px;
     display: block;
     margin: 10px auto;
     border-radius: 50%;
 }
 .bart p{
     line-height: 1.5;
     color: gray;
     font-size: 14px;
     margin: 10px auto;
 }
 .bart {
     text-align: center;
     box-shadow: 0 0 3px black;
     background-color: white;
     padding: 10px;
 }
 .icou {
     width: fit-content;
     display: flex;
     margin: auto;
 }
 .icou i{
     display: block;
     color: var(--main-color);
 }
 /* end reviews */
 /* start blogs */
 #blogs{
     width: fit-content;
     text-align: center;
     margin: 50px auto 20px auto;
 }
 #blogs span{
     color: var(--main-color);
     display: block;
 }
 #blogs h3{
     text-transform: uppercase;
 }
 .rwois{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 10px;  
 }
 .last-row {
     background-color: white;
     box-shadow: 0 0 3px black;
     padding: 10px;
 }
 .last-row span{
     display: block;
     width: fit-content;
     margin: 10px auto;
     text-transform: capitalize;
     font-size: 14px;
 }
 .last-row p{
     width: fit-content;
     margin: auto;
     text-align: center;
     line-height: 1.5;
     font-size: 14px;
     color: gray;
 }
 .blogis{
     margin: 10px auto;
     display: flex;
     justify-content: space-between;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.274);
 }
 .blogis span{
     font-size: 12px;
 }
 .icopi {
     display: flex;
 }
 .icopi i{
   display: block;
   margin-top: 7px;
   margin-right: 5px;
   color: var(--main-color);
   margin-left: 7px;
 }
 .icopi span{
     display: block;
     font-size: 12px;
 }
 .last-row img{
    width: 100px;
    height: 100px;
     display: block;
     margin: 10px auto;
     border-radius: 2px;
 }
 /* end blogs */

